[submodule "Rebellion/Rebellion/dependencies/cereal"]
	path = Rebellion/Rebellion/dependencies/cereal
	url = https://github.com/USCiLab/cereal
[submodule "Rebellion/Rebellion/dependencies/glm"]
	path = Rebellion/Rebellion/dependencies/glm
	url = https://github.com/g-truc/glm
[submodule "Rebellion/Rebellion/dependencies/stb"]
	path = Rebellion/Rebellion/dependencies/stb
	url = https://github.com/nothings/stb
[submodule "Rebellion/Rebellion/dependencies/imgui"]
	path = Rebellion/Rebellion/dependencies/imgui
	url = https://github.com/ocornut/imgui
